@charset "UTF-8";

.event .section_visual .group_visual .container_visual .visual_img .item {
 pointer-events: none;
 width: 100%;
 transform:translate(0px);
 1transition-duration:0.5s;
 1transition-delay: 0s;
}