@charset "UTF-8";

.event .section_visual .group_visual .container_visual .visual_img .item {
	position: absolute;
	width: 100%;
	pointer-events: none;
}

.main .visual_img {
	height: 100%;
}

.main .visual_img .item {
	position: absolute;
	width: 100%;
	height: 100%;
}